/* selectores de etiquetas*/
h1{
    color: black;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: overline;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 50px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.65)
}
p{
    color: blue;
    text-align: center;
} 
/*esto es un comentario */

div{
    background-color:rgb(red, green, blue));
    background-image:url(../fotoley.jpg);
    background-repeat: no-repeat;
    background-position: center; /*bottom rigght, left etc*/
    background-size: cover;    
    width: 600px;
}

img{ /*se puede simplificar y hacer una sola línea de color*/
    border-width: 7px;
    border-style: solid;
    border-color: violet;
    border-top: color(srgb red green blue);
    border-radius: 12px;
}

